{% extends 'base.html' %}

{% block title %}{{ empleado.nombre }}{% endblock %}

{% block header %}
    <h2>{{ empleado.nombre }}</h2>
{% endblock %}

{% block content %}
<<section class="detalle-empleado">
    <div class="contenedor-imagen">
        <h2>{{ empleado.nombre }}</h2>
        {% if empleado.imagen %}
        <img src="{{ empleado.imagen.url }}" alt="{{ empleado.nombre }}">
        {% endif %}
        <p class="salario">${{ empleado.salario }}</p>
        <p class="ingreso">Fecha de Ingreso: {{ empleado.ingreso }}</p>
        <div class="grupo-botones">
            <button class="boton detalle-boton">Asignar tarea</button>
            <a href="{% url 'empleados' %}" class="boton detalle-boton">Volver</a>
        </div>
    </div>
    <article class="info-empleado">
        <p class="cargo">{{ empleado.cargo }}</p>
    </article>
</section>
{% endblock %}