<!-- empleados/templates/empleados.html -->
{% extends 'base.html' %}
{% block title %}Lista de Empleados{% endblock %}

{% block header %}
    <h2>Lista de Empleados</h2>
{% endblock %}

{% block content %}
<div class="lista-empleados">
    {% for empleado in empleados %}
        <div class="tarjeta-empleado">
            {% if empleado.imagen %}
            <img src="{{ empleado.imagen.url }}" alt="{{ empleado.nombre }}">
            {% endif %}
            <h2>{{ empleado.nombre }}</h2>
            <p class="salario">${{ empleado.salario }}</p>
            <p>{{ empleado.descripcion|truncatechars:100 }}...</p>
            <div class="grupo-botones">
                <button class="boton">Asignar tarea</button>
                <a href="{% url 'detalle' empleado.id %}" class="boton">Detalles</a>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}